<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Bottomless Bowl</title>
</head>
<body>
    <h1>The Bottomless Bowl</h1>
    
    <p>Welcome to The Bottomless Bowl - Your One-Stop Shop for All Your Grocery Needs!</p>
    
    <a href="/admin/login">Admin Login</a>
    <br>
    <a href="/store_manager/register_request">Store Manager Register</a>
    <br>
    <a href="/store_manager/login">Store Manager Login</a>
    <br>
    <a href="/user/register">User Register</a>
    <br>
    <a href="/user/login">User Login</a>
    <br>
    
</body>
</html>
