<!DOCTYPE html>
<html>
<head>
  <title>Manage Categories</title>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1/dist/vue-resource.min.js"></script>
  
</head>
<header>
  <a href="/admin/dashboard">Back to Dashboard</a>
</header>
  <body>
    <div id="app">
      <!-- Vue.js component will be rendered here -->
      <category-manager></category-manager>
    </div>
  </body>
  <script type="text/javascript" src="/main.js"></script>
</html>
