<!DOCTYPE html>
<html>
    <head>
        <title>Manage Products</title>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1/dist/vue-resource.min.js"></script>
    </head>

    <header>
	   <a href='/manager/dashboard'>Store Manager Dashboard</a>
    </header>
    
    <body>
        <div id='app'>
            <product-manager></product-manager>
        </div>
    </body>

    <script type="text/javascript" src="/main.js"></script>
</html>
    
