<!DOCTYPE html>
<html>
    <head>
        <title>Shopping Page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1/dist/vue-resource.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>

    <header>
        <a href="/user/dashboard">Back to Dashboard</a>
    </header>

    <body>

        <div id='app'>
            <shopping-component></shopping-component>
        </div>
    </body>
    <script type="text/javascript" src="/main.js"></script>

</html>
