<!DOCTYPE html>
<html>
<head>
    <title>User Registration</title>
</head>
<header>
    <a href='/'>Back to Index</a>
</header>
<body>
    <h1>User Registration</h1>
    <form action="#" method="POST" id="signup-form">
        <label>Email Address</label>
        <input type="text" name="email" required /><br><br>

        <label>Password</label>
        <input type="password" name="password" required /><br><br>

        <button type="submit">Submit</button><br><br>

        <span>Already have an account?</span>
        <a href="/user/login">Sign in</a>
    </form>
</body>
</html>
